.main-footer{
    background-color: $footer-background;
    .footer-top{
        h3,h4, p,a {
           color: #ffffff;
           padding: 10px 0;
       } 
       a{
           display: block;
           text-transform: lowercase;
           margin: 5px 0;
       }
       h3{
           font-size: 3em;
       }
       p.info{
        color: $footer-color;
        margin: 10px 0;
       }
       .users{
           list-style: none;
           margin: 0 5px;
           padding: 0;
           >li{
            padding: 0;
            font-size: 0.8em ;
           }
            a {
               
            text-transform: capitalize;
            font-size: 18px;
            padding: 0;
            margin: 4px 0;
            
           }
         
       }
       .tags{
           @extend .users;
           margin: 0 5px 40px ;padding: 0;
           li{
               display: inline-block;
               a{
                padding: 6px;
                background-color: $main-color-nav;
                font-size: 1.2em;

               }
               &:hover a{
                color: lighten($color: $footer-color, $amount: 0.3);
                background-color: #ffffff;
               }
           }
       }
    }
    .footer-bottom{
        background-color: $bkg-color;
        .soc-net ul {
            margin: 25px 0;
            li{
                display: inline-block;

                a{
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-size: cover;
                    text-indent: -9999px;
                    &.ks{
                        background-image: url("./../img/krojacevaskola.png");
                    }
                    &.tw{
                        background-image: url("./../img/twitter.png");
                    }
                    &.yt{
                        background-image: url("./../img/youtube.png");
                    }
                    &.in{
                        background-image: url("./../img/instagram.png");
                    }
                    &.fb{
                        background-image: url("./../img/facebook.png");
                    }

                }
            }
            
        }
        .footer-nav{
            ul{
                margin: 25px 0;
                padding: 0;
                list-style: none;
                float: right;
                > li > a{
                        font-size: 13px;
                       &::after{
                           @include nav-underline()
                       } 
                       &:hover::after{
                           width: 100%;
                       }

                    }
            }
        }
       
    }
}

#back-to-top{
    background-image: url("./../img/back-to-top-white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px 20px;
    background-color: transparentize($color:$footer-background, $amount: 0.6);
    display: none; /*Hidden*/
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    &:hover{
        background-image: url("./../img/back-to-top-blue.png");
        background-color: transparentize($color:#fff, $amount: 0.6); 

    }
}



@media(min-width:768px){
    .main-footer .footer-bottom .soc-net ul{
        text-align: left;
        padding: 0;
         li a{
            width: 25px;
            height: 25px;
        }
    }
    #back-to-top{
        width: 40px;
        height: 40px;
    }
}