@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital@1&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  font-family: 'Istok', sans-serif;
  background-color: #eee;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: uppercase;
}

a {
  color: #666;
  text-transform: uppercase;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.main-header .top-header {
  min-height: 25px;
  margin: 10px;
  width: 100%;
}

.main-header .nav-container {
  background-color: #fff;
  margin: 10px 0;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .nav-container .navbar {
  position: relative;
  padding: 0;
}

.main-header .nav-container .navbar button.navbar-toggler {
  border: none;
  outline: none;
}

.main-header .nav-container .navbar button.navbar-toggler span.navbar-toggler-icon {
  width: 20px;
  height: 30px;
}

.main-header .nav-container .navbar button.navbar-toggler:hover, .main-header .nav-container .navbar button.navbar-toggler:active, .main-header .nav-container .navbar button.navbar-toggler:focus .navbar-toggler-icon {
  outline: 0;
}

.main-header .nav-container .navbar .navbar-collapse {
  text-align: center;
  margin: 5px 0;
}

.main-header .nav-container .navbar .logo {
  position: absolute;
  top: -3px;
  left: 50px;
}

.main-header .nav-container .navbar .logo a img {
  width: 67px;
}

.main-header .nav-container .navbar .search-cart-holder {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-header .nav-container .navbar .search-cart-holder .search-form {
  position: relative;
}

.main-header .nav-container .navbar .search-cart-holder .search-form .search-input {
  width: 100px;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  border-radius: 0;
  margin-right: 8px;
}

.main-header .nav-container .navbar .search-cart-holder .search-form button.search-btn {
  position: absolute;
  bottom: -7px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-image: url("../img/search-icon.png");
  background-repeat: no-repeat;
}

.main-header .nav-container .navbar .search-cart-holder .search-form button.search-btn:focus {
  outline: none;
}

.main-header .nav-container .navbar .search-cart-holder .search-form button.search-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-header .nav-container .navbar .search-cart-holder .cart {
  position: relative;
  margin-right: 5px;
}

.main-header .nav-container .navbar .search-cart-holder .cart .item-count {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #e71111;
  color: #fff;
  font-size: 10px;
  border-radius: 50%;
  bottom: 6px;
  right: 5px;
}

@media (min-width: 400px) {
  .main-header .nav-container .navbar .search-cart-holder .search-form .search-input {
    width: 140px;
  }
}

@media (min-width: 576px) {
  .main-header .nav-container .navbar .search-cart-holder .search-form button.search-btn {
    bottom: 3px;
  }
}

@media (min-width: 768px) {
  .main-header .nav-container {
    margin: 10px 0 0;
    position: relative;
    padding: 36px 0;
  }
  .main-header .nav-container .navbar .logo {
    position: absolute;
    top: 3px;
    left: 6px;
  }
  .main-header .nav-container .navbar .search-cart-holder {
    position: absolute;
    right: 0;
    top: -36px;
  }
  .main-header .nav-container .navbar-expand-md .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 15px;
  }
  .main-header .nav-container .navbar-expand-md .navbar-collapse .navbar-nav .nav-item a.nav-link::after {
    content: " ";
    width: 0;
    display: block;
    height: 2px;
    background: #acdacf;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
  }
  .main-header .nav-container .navbar-expand-md .navbar-collapse .nav-item a.nav-link:hover::after {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .navbar-expand-md .navbar-collapse {
    margin-top: 15px;
  }
  .navbar-expand-md .navbar-collapse .navbar-nav {
    position: absolute;
    left: 200px;
  }
  .main-header .nav-container .navbar .search-cart-holder {
    top: -12px;
  }
  .main-header .nav-container .navbar .search-cart-holder .cart .item-count {
    right: 6px;
    bottom: -1px;
  }
  .main-header .nav-container .navbar .logo {
    top: -12px;
  }
  .main-header .nav-container .navbar .logo a img {
    width: 100px;
  }
}

.welcome-info .welcome-title {
  font-size: 16px;
  padding: 0;
}

.welcome-info .welcome-text {
  font-size: 12px;
  padding: 0;
  letter-spacing: 1.5px;
}

.collection-wrapper .collection-holder {
  padding: 10px;
  position: relative;
}

.collection-wrapper .collection-holder h3.collection-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.collection-wrapper .collection-holder::before {
  content: " ";
  display: block;
  width: 150px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.collection-wrapper .collection-holder::after {
  content: " ";
  display: block;
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media (min-width: 768px) {
  .product-categories .nav-item::after {
    content: " ";
    width: 0;
    display: block;
    height: 2px;
    background: #acdacf;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
  }
  .product-categories .nav-item:hover::after {
    width: 100%;
  }
  .collection-wrapper .collection-holder:hover::before {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  .collection-wrapper .collection-holder:hover::after {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  .welcome-info .welcome-title {
    font-size: 18px;
  }
  .welcome-info .welcome-text {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.header-intro {
  position: relative;
}

.header-intro .img-holder .background-img {
  width: 100%;
  height: 400px;
}

.header-intro .header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #f0cc55;
  text-shadow: rgba(51, 51, 51, 0.6);
  font-size: 4rem;
  letter-spacing: 1rem;
  -webkit-text-stroke: 2px #fff;
}

.header-intro .header-title span {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
  -webkit-text-stroke: 2px #333;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel .carousel-control-prev-icon {
  background-image: url("../../img/arrow-left.png");
}

.carousel .carousel-control-next-icon {
  background-image: url("../../img/arrow-right.png");
}

@media (min-width: 768px) {
  .header-title {
    font-size: 8rem;
    background-color: rgba(51, 51, 51, 0.4);
    padding: 20px 100px;
  }
  .header-title::before {
    content: " ";
    display: block;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    z-index: 5;
    width: 60px;
  }
  .header-title::after {
    content: " ";
    display: block;
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    z-index: 5;
    width: 60px;
  }
}

.product-holder article.product .img-holder {
  position: relative;
  overflow: hidden;
}

.product-holder article.product .img-holder ul.icon-holder {
  background-color: rgba(133, 195, 220, 0.9);
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product-holder article.product .img-holder .icons > li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.product-holder article.product .article-info {
  padding: 10px 0;
}

.product-holder article.product .article-info h2 {
  font-size: 16px;
  text-transform: capitalize;
}

.product-holder article.product .article-info span {
  font-size: 14px;
}

.product-holder article.product .color-picker > li {
  width: 20px;
  height: 20px;
  background-color: red;
  margin-right: 5px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .product-holder article.product .img-holder ul.icon-holder {
    bottom: -60px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .product-holder article.product .img-holder:hover {
    opacity: 0.6;
  }
  .product-holder article.product .img-holder:hover ul.icon-holder {
    bottom: 0;
  }
}

.main-footer {
  background-color: #85C3DC;
}

.main-footer .footer-top h3, .main-footer .footer-top h4, .main-footer .footer-top p, .main-footer .footer-top a {
  color: #ffffff;
  padding: 10px 0;
}

.main-footer .footer-top a {
  display: block;
  text-transform: lowercase;
  margin: 5px 0;
}

.main-footer .footer-top h3 {
  font-size: 3em;
}

.main-footer .footer-top p.info {
  color: #598191;
  margin: 10px 0;
}

.main-footer .footer-top .users, .main-footer .footer-top .tags {
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

.main-footer .footer-top .users > li, .main-footer .footer-top .tags > li {
  padding: 0;
  font-size: 0.8em;
}

.main-footer .footer-top .users a, .main-footer .footer-top .tags a {
  text-transform: capitalize;
  font-size: 18px;
  padding: 0;
  margin: 4px 0;
}

.main-footer .footer-top .tags {
  margin: 0 5px 40px;
  padding: 0;
}

.main-footer .footer-top .tags li {
  display: inline-block;
}

.main-footer .footer-top .tags li a {
  padding: 6px;
  background-color: #5a8292;
  font-size: 1.2em;
}

.main-footer .footer-top .tags li:hover a {
  color: #5a8292;
  background-color: #ffffff;
}

.main-footer .footer-bottom {
  background-color: #eee;
}

.main-footer .footer-bottom .soc-net ul {
  margin: 25px 0;
}

.main-footer .footer-bottom .soc-net ul li {
  display: inline-block;
}

.main-footer .footer-bottom .soc-net ul li a {
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
  text-indent: -9999px;
}

.main-footer .footer-bottom .soc-net ul li a.ks {
  background-image: url("./../img/krojacevaskola.png");
}

.main-footer .footer-bottom .soc-net ul li a.tw {
  background-image: url("./../img/twitter.png");
}

.main-footer .footer-bottom .soc-net ul li a.yt {
  background-image: url("./../img/youtube.png");
}

.main-footer .footer-bottom .soc-net ul li a.in {
  background-image: url("./../img/instagram.png");
}

.main-footer .footer-bottom .soc-net ul li a.fb {
  background-image: url("./../img/facebook.png");
}

.main-footer .footer-bottom .footer-nav ul {
  margin: 25px 0;
  padding: 0;
  list-style: none;
  float: right;
}

.main-footer .footer-bottom .footer-nav ul > li > a {
  font-size: 13px;
}

.main-footer .footer-bottom .footer-nav ul > li > a::after {
  content: " ";
  width: 0;
  display: block;
  height: 2px;
  background: #acdacf;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.main-footer .footer-bottom .footer-nav ul > li > a:hover::after {
  width: 100%;
}

#back-to-top {
  background-image: url("./../img/back-to-top-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 20px;
  background-color: rgba(133, 195, 220, 0.4);
  display: none;
  /*Hidden*/
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#back-to-top:hover {
  background-image: url("./../img/back-to-top-blue.png");
  background-color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
  .main-footer .footer-bottom .soc-net ul {
    text-align: left;
    padding: 0;
  }
  .main-footer .footer-bottom .soc-net ul li a {
    width: 25px;
    height: 25px;
  }
  #back-to-top {
    width: 40px;
    height: 40px;
  }
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*# sourceMappingURL=main.css.map */